/* Base Design */
.design {
  background-color: #13496b;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.container-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.form-section {
  margin-left: 150px;
  width: 400px;
}

h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label  {
  display: block;
  margin-bottom: 5px;
  color: white;

}

.form_input,
.description_textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: black;
}

.description_textarea {
  height: 80px;
  resize: none;
}

.btn-submit {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 367px;
}

.btn-submit-V {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.btn-submit-V:hover {
  background-color: #0056b3;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-section img {
  max-width: 100%;
  height:450px;
  margin-top: 20px;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .container-add {
    flex-direction: column !important;
    align-items: center !important;
    padding: 10px !important;
  }
  .design{
    height: 121vh; 
    position: fixed;
  }

  .form-section {
    width: 100%;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: -5px;
  }

  h1 {
    font-size: 20px !important;
    
  }

  .image-section {
    display: none;
  }

  .image-section img {
    width: 100%;
    height: auto;
    max-height: 250px;
  }

  .form_input,
  .description_textarea {
    font-size: 14px;
    width: 100%;
  }

  .btn-submit,
  .btn-submit-V {
    font-size: 16px !important;
    width: 100% !important;
  }
}
